Checks: '
-*,

bugprone-*,
-bugprone-empty-catch,
-bugprone-exception-escape,
-bugprone-infinite-loop,
-bugprone-narrowing-conversions,
-bugprone-reserved-identifier,
cert-*,
-cert-dcl37-c,
-cert-dcl51-cpp,
-cert-err33-c,
-cert-err34-c,
clang-analyzer-*,
-clang-analyzer-optin.*,
-clang-analyzer-osx.*,
-clang-analyzer-webkit.*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-explicit-virtual-functions,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-narrowing-conversions,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-virtual-class-destructor,
misc-*,
-misc-const-correctness,
-misc-include-cleaner,
-misc-non-private-member-variables-in-classes,
-misc-use-anonymous-namespace,
modernize-*,
-modernize-avoid-bind,
-modernize-avoid-c-arrays,
-modernize-use-auto,
-modernize-use-equals-default,
-modernize-use-nullptr,
-modernize-use-override,
-modernize-use-std-print,
-modernize-use-trailing-return-type,
performance-*,
-performance-faster-string-find,
-performance-unnecessary-value-param,
readability-*,
-readability-const-return-type,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-named-parameter,
-readability-redundant-member-init,
-readability-simplify-boolean-expr,
'

# Treat all warnings as errors
WarningsAsErrors: '*'

# Apply checks to all files
HeaderFilterRegex: '.*'

# Disable automatic formatting
FormatStyle: none

