[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	abandon = group github/openbmc/phosphor-host-postd-maintainers
	create = group github/openbmc/phosphor-host-postd-maintainers
	forgeCommitter = group github/openbmc/phosphor-host-postd-maintainers
	push = +force group github/openbmc/phosphor-host-postd-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-host-postd-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-host-postd-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-host-postd-maintainers
	rebase = group github/openbmc/phosphor-host-postd-maintainers
	submit = group github/openbmc/phosphor-host-postd-maintainers
	editTopicName = group github/openbmc/phosphor-host-postd-maintainers
